<!DOCTYPE HTML>
<html>
  <head>
    <title>wslog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>LeanEngine</h1>
    <p>一个简单的「websocket」示例</p>
    <p><span>ws://localhost:3000/ws</span></p>
  </body>
</html>
